<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>804703369736-nv04fs4ih22i4ganuurnevom5jffmhao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804703369736-nv04fs4ih22i4ganuurnevom5jffmhao</string>
	<key>API_KEY</key>
	<string>AIzaSyDQU3Yo9VF06e5bTvM5b6-1VIQ-N-rdEeo</string>
	<key>GCM_SENDER_ID</key>
	<string>804703369736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.newfierocket.RiverLaunch</string>
	<key>PROJECT_ID</key>
	<string>riverlaunch-6174c</string>
	<key>STORAGE_BUCKET</key>
	<string>riverlaunch-6174c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804703369736:ios:5f15486e2b6845b7</string>
	<key>DATABASE_URL</key>
	<string>https://riverlaunch-6174c.firebaseio.com</string>
</dict>
</plist>